{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>To-Do</h2>
      <ul class="list-group mb-4">
          {% for item in todo_list %}
            <li>CardID: {{ item.id }} -Title: {{ item.name }} - NOT STARTED -           
              <form method="post" action="/movedoing">
              <input name="id" hidden value= "{{ item.id }}" required>
              <button type="submit" name ="Submit"> Submit</button>
            </form>
            <a href="{{ item['movetodoing'] }}" class="btn btn-danger">Mark as In Progress</a></li>
          {%endfor%}
      </ul>
    </div>
    <div class="col-md-12">
      <h2>In Progress</h2>
      <ul class="list-group mb-4">
          {% for item in doing_list %}
            <li>CardID: {{ item.id }} -Title:  {{ item.name }} - In Progress <a href="{{ movetodone }}" class="btn btn-danger">Mark as Complete</a></li>
          {%endfor%}
      </ul>
    </div>
    <div class="col-md-12">
      <h2>Completed</h2>
      <ul class="list-group mb-4">
          {% for item in done_list %}
            <li>CardID: {{ item.id }} -Title:  {{ item.name }} - Complete</li>
          {%endfor%}
      </ul>
    </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Add ToDo Item </h2>
      <ul class="list-group mb-4">
          <form method="post" action="/additem">
            <label for ="name">Add New</label>
            <input name="name" id="name" required>
            <button type="submit" name ="Submit"> Submit</button>
          </form>
      </ul>
    </div>
  </div>
{% endblock %}