{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Add ToDo Item </h2>
      <ul class="list-group mb-4">
          <form method="post" action="/add-todo">
            <label for ="title">Add New</label>
            <input name="Add New" id="title" required>
            <button type="submit" name ="Submit" value="item.title"> Submit</button>
          </form>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
          {% for item in items %}
            <li>ID:{{ item.id }} - {{ item.title }} - {{item.status}}</li>
          {%endfor%}
      </ul>
    </div>
  </div>
{% endblock %}