{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
    <p class="lead">Welcome {{username}} your access is: {{role}} </p>
  </div>  
  <div class="row">
    <div class="col-md-14">
      <h2>Add New Item </h2>
      <ul class="list-group mb-6">
          <form method="post" action="/additem">
            <label for ="name">Title</label>
            <input name="name" id="name" required>
            <label for ="desc">Description</label>
            <input name="desc" id="desc" required>
            {%if role!="READ ONLY"%}<button type="submit" name ="Submit"> Add New Task</button>{%endif%}
          </form>
      </ul>
    </div>
  <div class="row">
    <div class="col-md-14">
      <h2>To-Do List</h2>
      <ul class="list-group mb-6">
          {% for item in view_model.todos %}
          <li>ID: {{ item._id }} -Title:  {{ item.name }} -Desc:  {{ item.desc }}- Status: {{ item.Status }}   </li>
              <form method="post" action="/movedoing">
              <input name="_id" hidden value= "{{ item._id }}" required>
              <input name="Title" hidden value= "{{ item.name }}" required>
              <input name="Desc" hidden value= "{{ item.desc }}" required>
              {%if role!="READ ONLY"%}<button type="submit" name ="Submit"> Mark as In Progress</button>{%endif%}
            </form>
          {%endfor%}
      </ul>
    </div>
    <div class="col-md-14">
      <h2>In Progress</h2>
      <ul class="list-group mb-6">
          {% for item in view_model.doings %}
          <li>ID: {{ item._id }} -Title:  {{ item.name }} -Desc:  {{ item.desc }}- Status: {{ item.Status }}   </li> 
              <form method="post" action="/movedone">
                <input name="_id" hidden value= "{{ item._id }}" required>
                {%if role!="READ ONLY"%}<button type="submit" name ="Submit"> Mark as Completed</button>{%endif%}
              </form>
          {%endfor%}
      </ul>
    </div>
    <div class="col-md-12">
      <h2>Completed</h2>
      <ul class="list-group mb-4">
          {% for item in view_model.dones %}
          <li>ID: {{ item._id }} -Title:  {{ item.name }} -Desc:  {{ item.desc }}- Status: {{ item.Status }}   </li> 
          <form method="post" action="/delete">
            <input name="_id" hidden value= "{{ item._id }}" required>
            {%if role!="READ ONLY"%}<button type="submit" name ="Submit"> Delete Item</button>{%endif%}
          </form>
          {%endfor%}
      </ul>
    </div>

  </div>
{% endblock %}